a#img{
    position: absolute;
    top: 306px;
    left: 387px;
}
a#img img{
    width: 30px;
    height: 30px;
    display: block;
}
div#error{
    display: none;
}
div#timer {
    font-size:1000%;
    color:rgb(223, 184, 122);
    position: absolute;
    top: 10%;
    left: 50%;
}
input#chas {
    font-size:200%;
    color:orange;
    position: absolute;
    top: 30%;
    left: 20%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    outline: none;
    border-radius : 10px;
    border: 1px solid black;
    padding: 5px;
}
h3#chas-text{
    font-size:200%;
    color:orange;
    position: absolute;
    top: 26.7%;
    left: 15.5%;
}
input#min {
    font-size:200%;
    color:orange;
    position: absolute;
    top: 20%;
    left: 20%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    outline: none;
    border-radius : 10px;
    border: 1px solid black;
    padding: 5px;
}
h3#min-text{
    font-size:200%;
    color:orange;
    position: absolute;
    top: 16.7%;
    left: 10.6%;
}
input#sekyn {
    font-size:200%;
    color:orange;
    position: absolute;
    top: 10%;
    left: 20%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    outline: none;
    border-radius : 10px;
    border: 1px solid black;
    padding: 5px;
}
h3#sekyn-text{
    font-size:200%;
    color:orange;
    position: absolute;
    top: 6.5%;
    left: 145px;
}
button#knopka{
    font-size:200%;
    color:rgb(255, 255, 255);
    background-color: rgb(1, 155, 1);
    position: absolute;
    top: 37%;
    left: 29%;
    border-radius : 10px;
    outline: none;
    padding: 5px;
}
button#knopkastop{
    font-size:200%;
    color:rgb(255, 255, 255);
    background-color: rgb(155, 1, 1);
    position: absolute;
    top: 295px;
    left: 521px;
    border-radius : 10px;
    outline: none;
    padding: 5px;
}
select#on_off {
  font-size:150%;
  color:rgb(255, 255, 255);
  background-color: rgb(98, 65, 189);
  position: absolute;
  top: 348px;
  left: 419px;
  border-radius : 10px;
  outline: none;
  padding: 5px;
}
option#on {
  font-size:100%;
  background-color: rgb(19, 155, 1);
  border-radius : 10px;
  outline: none;
  padding: 5px;
}
option#off {
  font-size:100%;
  background-color: rgb(155, 1, 1);
  position: absolute;
  top: 349px;
  left: 453px;
  border-radius : 10px;
  outline: none;
  padding: 5px;
}